<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Fabian Butchart Portfolio - About</title>
        {% include 'links.html' %}
    </head>

    <body>
        {% include 'navbar.html' %}

        <main class="page-container">
            <section>
                <h1>About me</h1>
                <p>Hi, I'm Fabian, a computer science student studying in my second year at the University of St Andrews. Outside my studies and the personal coding projects I have completed, I love tinkering around with technology and computer systems.</p>
                <p>Last year I switched my main computer to Arch Linux running the Hyprland window manager, and I have really enjoyed learning more about the operating system and using my skills to customise my desktop UI to perfectly suit my needs. This experimentation has already come in super handy especially with my work on the FS-AI codebase due to the extensive use of bash commands to set up the development environment properly through the container.</p>
                <p>I also do lots of tinkering with hardware in my spare time to solve problems in my life, especially with Raspberry Pi's which I have used to create a personal VPN, a custom smart TV box, and to host this website!</p>
            </section>

            <h2>Contact</h2>

            <section class="social-links">
                <a href="mailto:fabianbutchart@gmail.com" class="social-btn" aria-label="Email">
                    <i class="fa-solid fa-envelope"></i>
                </a>

                <a href="https://linkedin.com/in/yourprofile" target="_blank" class="social-btn" aria-label="LinkedIn">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>

                <a href="https://github.com/AverageApple288" target="_blank" class="social-btn" aria-label="GitHub">
                    <i class="fa-brands fa-github"></i>
                </a>

                <a href="/resume.pdf" target="_blank" class="social-btn" aria-label="Resume">
                    <i class="fa-solid fa-file-pdf"></i>
                </a>
            </section>
        </main>
    </body>
</html>