<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Portfolio - Home</title>
        {% include 'links.html' %}
    </head>

    <body>
        {% include 'navbar.html' %}

        <main class="page-container">
            <h1>Welcome to my portfolio!</h1>
            <p>Visit the projects tab to see some of the projects I have worked on, the about page for more information about myself and the contact tab for my contact details and social media links.</p>
        </main>
    </body>
</html>