<nav>
    <ul>
        <li>
            <a href="{{ url_for('home') }}" class="{% if request.endpoint == 'home' %}active{% endif %}">Home</a>
        </li>
        <li>
            <a href="{{ url_for('projects') }}" class="{% if request.endpoint == 'projects' %}active{% endif %}">Projects</a>
        </li>
        <li>
            <a href="{{ url_for('about') }}" class="{% if request.endpoint == 'about' %}active{% endif %}">About me</a>
        </li>
    </ul>

    <button id="theme-toggle" class="theme-btn">
        <i class="fa-solid fa-circle-half-stroke"></i>
    </button>
</nav>