<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Portfolio - Projects</title>
        {% include 'links.html' %}
    </head>

    <body>
        {% include 'navbar.html' %}

        <main class="page-container">
            <h1>Projects</h1>

            <table class="project-table">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Collaborators</th>
                        <th>Project</th>
                        <th>GitHub</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td class="proj-name">Turing Machine Simulator</td>
                        <td class="proj-desc">Python flask web-application that allows users to input instructions and visualize the execution of a Turing machine.</td>
                        <td class="proj-date">Nov 2024 - Apr 2025</td>
                        <td class="proj-collab">Solo</td>
                        <td><a href="#" class="link-pill">View</a></td>
                        <td><a href="#" class="link-pill outline">Repo</a></td>
                    </tr>
                    <tr>
                        <td class="proj-name">Image Classifier</td>
                        <td class="proj-desc">An image classification model written from scratch in C++ built into a Qt desktop application.</td>
                        <td class="proj-date">Jul 2025 - Jul 2026</td>
                        <td class="proj-collab">Solo</td>
                        <td><a href="#" class="link-pill">Download</a></td>
                        <td><a href="#" class="link-pill outline">Repo</a></td>
                    </tr>
                    <tr>
                        <td class="proj-name">Minecraft EarthMC Meteor Client Addon</td>
                        <td class="proj-desc">A Minecraft Meteor Client Addon mod that gives the user information about players to hunt and shops that allow for easy flipping opportunities. I worked mainly on the shop flipper functionality in the mod.</td>
                        <td class="proj-date">May 2026 - Jul 2026</td>
                        <td class="proj-collab">StolenGalaxy & wrench-exile-legacy</td>
                        <td><a href="#" class="link-pill">Download</a></td>
                        <td><a href="#" class="link-pill outline">Repo</a></td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
</html>